{% extends 'app/base/base.html' %}
{% block title %}Approval{% endblock %}
{% block content %}

<div class="form-wrapper">
  <h1>Approval Request Detail</h1>

  <form class="form-card" method="post">
  <h2>Purchase Order - {{ order.id }}</h2>
  <p><strong>Product:</strong> {{ order.product.name }}</p>
  <p><strong>Vendor:</strong> {{ order.vendor.name }}</p>
  <p><strong>Quantity:</strong> {{ order.quantity }}</p>
  <p><strong>Status:</strong> {{ order.get_status_display }}</p>
  <p><strong>Approval Status:</strong> {{ order.get_approval_status_display }}</p>
  <a href="{% url 'approval_request_list' %}" class="btn btn-primary">Back</a>
  </form>
</div>
{% endblock %}
