{% extends 'app/base/base.html' %}
{% block title %}Approval{% endblock %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <p style="color: green;">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}
<div class="page-header">
  <h1>Update PO Approval</h1>
  <div>
<a href="{% url 'approval_manager_list' %}" class="back-link2">
  ← Back to Approval List
</a>
  </div>
</div>
<div class="dv-table-responsive">
<table class="dv-table">
  <thead>
    <tr>
      <th>PO ID</th><th>Vendor</th><th>Product</th><th>Price</th><th>Qty</th><th>Total&nbsp;Price</th>
      <th style="white-space: nowrap;text-align: center;">Current&nbsp;Status</th><th style="white-space: nowrap;text-align: center;">Approval&nbsp;Status</th><th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for o in orders %}
    <tr>
      <td>{{ o.id }}</td>
      <td>{{ o.vendor.name|default:"—" }}</td>
      <td>{{ o.product.name }}</td>
            <td>₹{{ o.product.price|floatformat:2|indian_comma }}</td>

      <td>{{ o.quantity }}</td>
            <td>₹{{ o.total_price|floatformat:2|indian_comma }}</td>


            <td style="white-space: nowrap;text-align: center;">
          <span class="badge po-{{ o.get_status_display|lower }}">
            {{ o.get_status_display }}
          </span>
        </td>
      
        <td style="white-space: nowrap;text-align: center;">
          <span class="approval-badge approval-list-{{ o.approval_status|lower }}">
            {{ o.approval_status|title }}
          </span>
        </td>
      <td class="actions">
        <form method="post" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="po_id" value="{{ o.id }}">
          <button type="submit" name="action" value="PENDING"  class="btn-pending">Pending</button>
          <button type="submit" name="action" value="APPROVED" class="btn-approve">Approve</button>
          <button type="submit" name="action" value="CANCELLED" class="btn-cancel">Cancel</button>
          
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}