{% extends 'app/base/base.html' %} 
{% block title %}Dashboard{% endblock %}
{% load humanize static %} {% block content %}
{% load custom_filters %}

<div class="dashboard">

  <!-- ---------- KPI ROW ---------- -->
<section class="kpi-row">
  <div class="kpi-card">
    <h3>Total Purchase</h3>
    <p>{{ total_po_orders|default:"0" }}</p>
  </div>
  <div class="kpi-card">
    <h3>Total Inward</h3>
    <p>{{ total_inward_qty|default:"0" }}</p>
  </div>
  
  <div class="kpi-card">
    <h3>Total Orders</h3>
    <p>{{ total_orders|default:"0" }}</p>
  </div>

  <div class="kpi-card">
    <h3>Total Stock</h3>
    <p>{{ total_stock|default:"0" }}</p>
  </div>


</section>
<section class="kpi-row">
  <div class="kpi-card">
    <h3>Total Purchase Price</h3>
    <p>₹{{ total_po_order_price|floatformat:2|indian_comma|default:"0.00" }}</p>
  </div>
  <div class="kpi-card">
    <h3>Total Order Price</h3>
    <p>₹{{ total_order_price|floatformat:2|indian_comma|default:"0.00" }}</p>
  </div>

  <div class="kpi-card">
    <h3>Total Stock Price</h3>
    <p>₹{{ total_stock_price|floatformat:2|indian_comma|default:"0.00" }}</p>
  </div>
</section>

  <!-- ---------- SUMMARY CARDS ---------- -->
<section class="grid-2">
  <div class="card scroll">
    <h2>Top Orders</h2>
    {% if order_summary %}
    <table class="dv-table">
      <tbody>
        {% for item in order_summary %}
        <tr>
          <td>{{ item.product__name }}</td>
          <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No data</p>
    {% endif %}
  </div>

  <div class="card scroll">
    <h2>Current Stock</h2>
    {% if inventory_summary %}
    <table class="dv-table">
      <tbody>
        {% for item in inventory_summary %}
        <tr>
          <td>{{ item.product__name }}</td>
          <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No data</p>
    {% endif %}
  </div>
</section>


  <!-- ---------- CHART ---------- -->
  <section class="grid-2">
        <div class="card scroll">
    <h2>Order Chart</h2>
    {% if order_summary and order_summary|length > 0 %}
    <canvas id="orderChart" width="600" height="600"></canvas>
    {% else %}
    <p>No data for chart</p>
    {% endif %}
  
</div>
    <div class="card scroll">
          <h2>Stock Chart</h2>
    {% if inventory_summary and inventory_summary|length > 0 %}
    <canvas id="stockChart" width="600" height="600"></canvas>
    {% else %}
    <p>No data for chart</p>
    {% endif %}
  
</div>

  </section>
</div>
{% endblock %}
