{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KMDV CRM</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/css/base.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/css/messages.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/css/table_cont.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/css/forms.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/css/dashboard.css' %}"
    />
    <script src="{% static 'app/js/base.js' %}"></script>
    
  </head>
  <body>
    <div class="container">
      <nav class="nav-with-logo">
        <a href="{% url 'dashboard' %}" class="logo">
          <img src="{% static 'app/img/logo_png.png' %}" alt="KMDV CRM Logo" />
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'category_list' %}">Categories</a>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'vendor_list' %}">Vendors</a>
        <a href="{% url 'inventory_list' %}">Inventory</a>
        <a href="{% url 'order_list' %}">Orders</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'user_list' %}">Users</a>
        <span class="user-welcome">Welcome, {{ user.username | title }}</span>
        {% else %}
        <span class="user-welcome">Welcome, Guest</span>
        {% endif %} {% if user.is_authenticated %}
        </a>
        <form method="post" action="{% url 'logout' %}" style="display: inline">
          {% csrf_token %}
          <button type="submit" class="nav-a">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </nav>
      <div class="content">{% block content %}{% endblock %}</div>
    </div>

  </body>
</html>
