{% load static %}
<link rel="icon" href="{% static 'app/img/logo_.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/base.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/css/messages.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/css/table_cont.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/css/forms.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/css/dashboard.css' %}"
/>
<script src="{% static 'app/js/base.js' %}"></script>

