{% load static %}
<link rel="icon" href="{% static 'app/img/logo_.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_nav.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_cards.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_forms.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_buttons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_tables.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_badges.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_messages.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/css/kmdv_approval.css' %}" />
<script src="{% static 'app/js/base.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
